.menu{
  height: 100%;
  width: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  background-size: cover;
  background-repeat: no-repeat;
}

.botoes{
  left: 52%;
  position: absolute;
  transform: translateX(-50%);
}

.logo{
  transform: translateX(-13%);
  width: 320px;
  height: 300px;
}

.btn{
  left: 50%;
  width: 210px;
  height: 140px;
  display: block;
}

.btnPlay img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}